/* ========================= CODE BY DHEERAJ KUMAR ===========  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
}
.logo img{
  width: 100px;
}
.logo h1 {
  font-size: 14px;
  color: #177072;
  font-weight: 300;
}
#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
}
#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #000;
  transform: translateY(-5px);
  transition: 0.2s;
}
#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #000;
  transform: translateY(5px);
  transition: 0.2s;
}
#toggle.active::before {
  transform: translateY(0) rotate(45deg);
}
#toggle.active::after {
  transform: translateY(0) rotate(-45deg);
}
#navbar {
  position: relative;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
}
#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  color: #177072;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.4em;
  padding: 0 15px;
}
/* ----------- slides show ----------- */
.slider{
  width: 100%;
  overflow: hidden;
}
.slides{
  display: flex;
}
.slide{
  width: 100%;
  transition: 2s;
}
.slide img{
  width: 100vw;
}
.slides input{
  display: none;
}
.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -10vh;
  display: flex;
  justify-content: center;
}
.navigation-manual label{
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  z-index: 1;
}
.navigation-manual label:hover{
  background-color: #40d3dc;
}
.navigation-manual label:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -100%;
}
#radio3:checked ~ .first{
  margin-left: -200%;
}
#radio1:checked ~ .manual-btn1{
  background: #40d3dc;
}
#radio2:checked ~ .manual-btn2{
  background: #40d3dc;
}
#radio3:checked ~ .manual-btn3{
  background: #40d3dc;
}
/* ---------------cards------------ */
.cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(img/background\ wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #40d3dc;
  height: 55vh;
  width: 20vw;
  padding: 16px;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
.card-image{
  width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.card-image img{
  width: 100%;
  transform: scale(2.2);
}
.card-content{
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-content h2{
  font-weight: 400;
}
.card-content a{
  color: #fff;
  font-size: 1.2em;
}
.card:nth-child(1){
  background-color: #22577a;
}
.card:nth-child(2){
  background-color: #38a3a5;
}
.card:nth-child(3){
  background-color: #57cc99;
}
.card:nth-child(4){
  background-color: #807d99;
}
/* --------------about------------  */
.about-page{
  display: flex;
  flex-direction: column;
}
.about{
  position: relative;
  display: flex;
  padding: 100px;
}
.about-content h1{
  font-size: 3em;
  margin-bottom: 20px;
}
.about-content p{
  font-size: 1.2em;
  letter-spacing: 2px;
}
.about-content hr{
  width: 12vw;
  border: 3px solid #177072;
  background-color: #177072;
  border-radius: 10px;
  margin-top: 10px;
}
.about-img, .about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}
.about-img img{
  width: 100%;
  transform: scale(1.3);
}
.about:nth-child(1), .about:nth-child(3){
  background-image: url(img/background\ wave.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* /////////// making it responsive ///////////  */

@media (max-width: 1000px) {
  #toggle {
    display: flex;
  }
  .logo img{
    width: 80px;
  }
  .logo h1{
    font-size: 10px;
  }
  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }
  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation-manual{
    margin-top: -4vh;
  }
  .cards{
    flex-direction: column;
    height: 100vh;
  }
  .card{
    flex-direction: row;
    width: 80vw;
    height: 20vh;
  }
  .card-image{
    width: 40vw;
    height: 20vh;
  }
  .card-content{
    height: 18vh;
    margin-right: 10vw;
  }
  .card-content h1{
    font-size: 1.2em;
  }
  .card-content h2{
    font-size: 0.9em;
  }
  .card-content a{
    font-size: 0.9em;
  }
  .about{
    flex-direction: column;
  }
  .about:nth-child(2){
    flex-direction: column-reverse;
  }
  .about-content{
    width: 70vw;
  }
  .about-img{
    width: 50vw;
  }
  header{
    position: fixed;
    background-color: #fff;
    z-index: 999999999;
  }



}
@media (max-width: 500px){
  .card-image img{
    transform: scale(5);
  }
  .card-content{
    margin-right: 0;
  }
  .about-content p{
    letter-spacing: 0;
  }
}


