* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* ABOUT STYLE */

#aboutIntro {
  position: absolute;
  /*z-index: 999;*/
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  justify-content: center;
  top: 20%; /* Adjust this value to move the positioned div up and down */
  color: #fff;
  width: 60%;
}
.aboutIntro2 {
  position: absolute;
  /*z-index: 999;*/
  justify-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 28%; /* Adjust this value to move the positioned div up and down */
  color: #fff;
  width: 60%;
  opacity: 0.6;
}
.breadcrumb {
  background-color: transparent !important;
  justify-content: center;
}
.homelink {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
}
a:hover {
  color: #fff;
}
@media (max-width: 511px) {
  #introImg {
    height: 200px;
  }
  #aboutIntro {
    top: 90px;
  }
  #aboutHeading {
    font-size: 27px;
  }
  .aboutIntro2 {
    top: 21%;
  }
  .breadcrumb-item,
  .homelink {
    font-size: 17px;
  }
}
/* ABOUT STYLE ENDS */

/* DONATION DATA STARTS */

.volunteer,
.donated,
.happy,
.gifts {
  padding: 5px 20px;
  border-left: 1px solid rgb(212, 210, 210);
  margin: 40px 50px;
}
.volunteerCount,
.donatedCount,
.happyCount,
.giftsCount {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.volunteerHeading,
.donatedHeading,
.happyHeading,
.giftsHeading {
  font-size: 17px;
  letter-spacing: 1px;
}
.fa-li {
  padding-top: 11px;
}
i {
  margin-left: 10px;
}
.fa-address-card,
.volunteerCount {
  color: #ff9800;
}
.fa-hand-holding-usd,
.donatedCount {
  color: #8bca4e;
}
.fa-smile,
.happyCount {
  color: #fec501;
}
.fa-seedling,
.giftsCount {
  color: #5586e8;
}
.orgData {
  background-color: #f5f6fa;
}
/* DONATION DATA ENDS */

/* CAROUSEL STARTS */
.carousel {
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  font-family: arial, helvetica, sans-serif, verdana, "Open Sans";
}
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*jssor slider bullet skin 132 css*/
.jssorb132 {
  position: absolute;
}

.jssorb132 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb132 .i .b {
  fill: #fff;
  fill-opacity: 0.8;
  stroke: #000;
  stroke-width: 1600;
  stroke-miterlimit: 10;
  stroke-opacity: 0.7;
}

.jssorb132 .i:hover .b {
  fill: #000;
  fill-opacity: 0.7;
  stroke: #fff;
  stroke-width: 2000;
  stroke-opacity: 0.8;
}

.jssorb132 .iav .b {
  fill: #000;
  stroke: #fff;
  stroke-width: 2400;
  fill-opacity: 0.8;
  stroke-opacity: 1;
}

.jssorb132 .i.idn {
  opacity: 0.3;
}

.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

.jssora051:hover {
  opacity: 0.8;
}

.jssora051.jssora051dn {
  opacity: 0.5;
}

.jssora051.jssora051ds {
  opacity: 0.3;
  pointer-events: none;
}
#jssor_1 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 560px;
  overflow: hidden;
  visibility: hidden;
}
.jssorl-009-spin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.carouselSlider {
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 560px;
  position: absolute;
}
@media (max-width: 700px) {
  .carouselSlider,
  .carImage {
    height: 700px !important;
  }
  element.style {
    height: 700px;
  }
}
/* CAROUSEL ENDS */

/*footer*/
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: rgb(1, 8, 41);
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
  max-width: 15%;
  display: flex;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin: 10px auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
img {
  height: 40px;
  width: 40px;
  margin: 0 0 1% 0;
}

/* #footer {
    position:absolute;
    bottom :0;
    width:100%;
    height:360px;   
    background:rgb(3, 28, 61);
   } */
h2 {
  color: rgb(3, 3, 3);
  font-weight: 600;
}
p {
  color: white;
}
mt-1 {
  max-width: 15%;
  display: flex;
  overflow: hidden;
}

.circle-icon {
  background: #c1c8e4;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 1);
  border-bottom: 2px;
  border-top: 10px;
}
.circle-icon1 {
  background: #c1c8e4;
  padding: 17px;
  border-radius: 50%;
  margin-left: 15px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 1);
  border-bottom: 2px;
  border-top: 10px;
}

.vertical {
  border-left: 2px solid #03256c;
  height: 80px;
  position: top;
  left: 10%;
  margin-right: 10px;
}

.para {
  color: black;
  font-family: Franklin Gothic Medium;
  font-size: 16px !important;
  font-weight: 500;
}
.heading {
  color: black;
  font-family: Franklin Gothic Medium;
  padding-left: 10px;
  margin-top: 0px;
  font-weight: bold;
}

.bttn-group {
  display: flex;
}
