/* --------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

#aboutIntro {
    position: absolute;
    /*z-index: 999;*/
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    top: 20%;
    /* Adjust this value to move the positioned div up and down */
    color: #fff;
    width: 60%;
}

.aboutIntro2 {
    position: absolute;
    /*z-index: 999;*/
    justify-content: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 28%;
    /* Adjust this value to move the positioned div up and down */
    color: #fff;
    width: 60%;
    opacity: 0.6;
}

.breadcrumb {
    background-color: transparent !important;
    justify-content: center;
}

.homelink {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
}

@media(max-width:511px) {
    #aboutIntro {
        top: 90px;
    }
    #aboutHeading {
        font-size: 27px;
    }
    .aboutIntro2 {
        top: 21%;
    }
    .breadcrumb-item,
    .homelink {
        font-size: 17px;
    }
}

nav {
    display: flex;
    padding: 2% 3%;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

nav .fa {
    display: none;
}

nav img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #03a0e9;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.slideshow {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slideshow-item {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
    opacity: 0.8;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 20s;
}

.slideshow-text {
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slideshow-text h1 {
    font-size: 62px;
}

.slideshow-text p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #ffffff;
}

@keyframes cycleImages {
    25% {
        opacity: 0.8;
    }
    40% {
        opacity: 0;
    }
}

@keyframes zoom {
    100% {
        transform: scale(1.3);
    }
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #03a0e9;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: right;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #ffffff;
        margin: 15px;
        font-size: 22px;
        text-align: left;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 15px;
    }
}


/*-------FOOTER------*/

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: rgb(1, 8, 41);
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
    max-width: 15%;
    display: flex;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.footer_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin: 10px auto;
}

.footer_bottom_ul_amrc li {
    display: inline;
}

.footer_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.footer_bottom_ul_amrc li img {
    height: 40px;
    width: 40px;
    margin: 0 0 1% 0;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.footer img {
    height: 40px;
    width: 40px;
    margin: 0 0 1% 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 360px;
    /* Height of the footer */
    background: rgb(2, 19, 41);
}

h2 {
    color: white;
    font-weight: 600;
}

p {
    color: white;
}

mt-1 {
    max-width: 15%;
    display: flex;
    overflow: hidden;
}


/* --------------------------------------------------- */


/*members section*/

.hero-section img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.hero-section {
    position: relative;
}

.volunteer {
    color: whitesmoke;
    position: absolute;
    left: 45%;
    top: 32%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.members {
    display: grid;
    grid-row-gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.card {
    margin: auto;
    width: 28rem;
}

.card img {
    object-fit: cover;
    height: 15rem;
}

.card .card-title {
    color: #010829;
}

.card .card-text {
    color: #323f45;
}

.heading {
    text-align: center;
    padding: 2rem;
    padding-bottom: 0;
}

.card-img-top {
    position: relative;
}

.social {
    display: none;
    background-color: #edff47;
    width: 10%;
    position: absolute;
    left: 90%;
    padding: 5px;
}

@media(min-width:768px) {
    .members {
        display: grid;
        grid-row-gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .card {
        width: 22rem;
        margin-bottom: 2rem;
    }
}

@media(min-width:1024px) {
    .card {
        width: 35rem;
    }
}

h2 {
    color: white;
    font-weight: 600;
}

p {
    color: white;
}

.team {
    background: #f7f7f7;
    padding: 20px;
}

hr {
    height: 5px;
    background-color: #444444;
    border-radius: 33px;
    width: 127px;
    margin: auto;
    margin-bottom: 20px;
}

/* Style For Volunteer Section */

.volenheading {
    text-align: center;
    background-color: #d7faf6;
    margin: 0;
    padding-top: 20px;
  }

  .slider {
    width: 85%;
    height: 440px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  .slider {
    position: inherit;
    left: 0;
    transition: 0.3s left ease-in-out;
  }

  .slider .item {
    margin-right: 20px;
  }

  .slide {
    width: max-content;
  }

  .ctrl {
    text-align: center;
    margin-top: 5px;
  }

  .ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background: #71d5ff;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
  }

  .ctrl-btn.pro-prev {
    left: 118px;
  }

  .ctrl-btn.pro-next {
    right: 108px;
  }

  @media screen and (max-width: 768px) {
    .slider {
      width: 100%;
    }
    .ctrl-btn.pro-prev {
      left: 0px;
    }
    .ctrl-btn.pro-next {
      right: 0px;
    }
  }

  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page-wrapper {
    height: 100%;
    display: table;
  }

  .page-wrapper .page-inner {
    display: table-cell;
    vertical-align: middle;
  }

  .page-inner {
    margin: 15px;
    width: 330px;
    display: inline-block;
  }

  .el-wrapper {
    width: 300px;
    padding: 15px;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
  }

  @media (max-width: 991px) {
    .el-wrapper {
      width: 345px;
    }
  }

  @media (max-width: 767px) {
    .el-wrapper {
      width: 290px;
      margin: 30px auto;
    }
  }

  .el-wrapper:hover .h-bg {
    left: 0px;
  }

  .el-wrapper:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #464646;
  }

  .el-wrapper:hover .add-to-cart {
    left: 50%;
  }

  .el-wrapper:hover .img {
    /* webkit-filter: blur(7px); */
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid: DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
  }

  .el-wrapper:hover .info-inner {
    bottom: 155px;
  }

  .el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
  }

  .a-size {
    font-size: 20px;
    color: black !important;
    font-weight: bold;
  }

  .el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
  }

  .el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }

  .box-up img {
    width: 100%;
  }

  .el-wrapper .img {
    padding: 20px 0;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
  }

  .h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: #3f96cd;
    position: absolute;
    left: -659px;
  }

  .h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: #464646;
  }

  .info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
  }

  .info-inner .p-name,
  .info-inner .p-company {
    display: block;
  }

  .info-inner .p-name {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #252525;
    background-color: yellowgreen;
  }

  .info-inner .p-company {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #8c8c8c;
    background-color: black;
  }

  .a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: "PT Sans", sans-serif;
    color: #828282;
    opacity: 0;
  }

  .a-size .size {
    color: #353535;
  }

  .cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }

  .cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #252525;
  }

  .cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .cart .add-to-cart .txt {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
  }


/* Style For Volunteer Section Ends */
