#aboutIntro {
  position: absolute;
  /*z-index: 999;*/
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  justify-content: center;
  top: 20%; /* Adjust this value to move the positioned div up and down */
  color: #fff;
  width: 60%;
}

.aboutIntro2 {
  position: absolute;
  /*z-index: 999;*/
  justify-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 28%; /* Adjust this value to move the positioned div up and down */
  color: #fff;
  width: 60%;
  opacity: 0.6;
}
.breadcrumb {
  background-color: transparent !important;
  justify-content: center;
}
.homelink {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 511px) {
  #aboutIntro {
    top: 90px;
  }
  #aboutHeading {
    font-size: 27px;
  }
  .aboutIntro2 {
    top: 21%;
  }
  .breadcrumb-item,
  .homelink {
    font-size: 17px;
  }
}

.container .head,
.container_2 .head {
  font-weight: 800;
  font-family: century;
  text-align: center;
  font-size: 40px;
  color: black;
  padding: 20px;
}

.container .head span,
.container_2 .head span {
  color: blueviolet;
  align-items: center;
  text-align: center;
}

.container .body_content {
  font-weight: 700;
  color: #444;
  width: 90%;
  text-align: justify;
  margin-left: 5%;
}

.container_2 .body_content_2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container_2 .body_content_2 p {
  color: #444;
  font-weight: 700;
  font-size: large;
  font-family: century;
  text-align: center;
  /* border: 1px solid black; */
  width: 100%;
  flex: 300%;
  margin: 2%;
}

.container_3 h1 {
  color: #444;
  font-weight: 800;
  text-decoration: underline;
  padding: 25px;
}

.container_3 h3 {
  color: red;
  font-weight: 700;
  padding: 30px;
  padding-bottom: 0;
}

.container_3 h4 {
  color: red;
  font-weight: 600;
  padding: 10px;
  text-decoration: underline;
}

.heading___ {
  color: black;
  font-weight: 900;
  text-decoration: double underline;
}

.main {
  border-radius: 20px;
}

.main ul {
  list-style-type: none;
}

.main ul li {
  padding: 0 0 2% 0;
}

.main ul li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  transition: 0.7s all ease-in-out !important;
}

.main ul li a:hover {
  color: #b82d17;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.blink {
  font-size: 22px !important;
  animation: blinking 1.2s infinite ease-out;
}

@keyframes blinking {
  from {
    color: black;
    opacity: 0;
  }
  to {
    color: #8b2000;
    opacity: 1;
  }
}

.container_4 {
  color: black !important;
}

@media only screen and (max-width: 1025px) {
  .container_3 {
    font-size: 14px;
  }

  .main ul li a:hover {
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 986px) {
  .container_2 .body_content_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_2 .body_content_2 p {
    text-align: justify;
    width: 90%;
  }

  .container_3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .container_3 {
    font-size: 15px;
  }

  .main ul li a:hover {
    font-size: 18px;
    letter-spacing: 1.5px;
  }

  .blink {
    font-size: 18px !important;
  }
}
