.auto-slider {
  /* position: relative; */
  box-sizing: content-box;
  display: inline-block;
  /* padding: 10px 10px 20px; */
  background: #fff;
  width: 90%;
  margin: 2%;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

@keyframes sliding {
  0% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  100% {
    left: 0%;
  }
}

div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s sliding ease infinite;
}

@media only screen and (max-width: 986px) {
  .auto-slider {
    margin: 2% 0 2% 4.5%;
  }
}
